<div class="px-5">
  <div class="d-flex flex-column pt-2">
    <div>
      <p-checkbox [(ngModel)]="settings['suggestions']" [binary]="true" inputId="suggestions"></p-checkbox>
      <label for="suggestions"> {{ "settings.suggestions" | translate }}</label>
    </div>
    <div class="pt-2">
      <p-checkbox [(ngModel)]="settings['automatic']" [binary]="true" inputId="suggestions"></p-checkbox>
      <label for="suggestions"> {{ "settings.automatic" | translate }}</label>
    </div>
    <div class="pt-2">
      <p-dropdown [options]="languages" [(ngModel)]="settings['language']"></p-dropdown>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <p-button (click)="back()" [label]="'general.cancel' | translate" styleClass="p-button-text"></p-button>
    <p-button (click)="saveSettings()" [label]="'general.save' | translate" styleClass="p-button-text"></p-button>
  </div>
</div>

