.negative-margin-left:not(:first-child) {
  margin-left: -40px;
}

::ng-deep .dex-view {
  button {
    width: 100px;
  }
  .p-button {
    font-size: 11px;
  }
  .p-card-content {
    padding: 0 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  .p-card-body {
    padding: 0 !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

.m-px-3 {
  margin: 3px;
}
