<div class="text-center fadein animation-duration-500">
  <p-card [ngClass]="savedMatches.length > 0 ? 'clickable' : 'disabled'"
    (click)="goToMatchSelection()">{{ 'startScreen.continue' | translate }}</p-card>
  <div class="my-5" (click)="openNewMatchModal()"><p-card class="clickable">{{ 'startScreen.newGame' | translate }}</p-card></div>
  <p-card class="clickable" (click)="goToSettings()">{{ 'startScreen.settings' | translate }}</p-card>
</div>
<p-dialog [(visible)]="showNewMatchModal" [style]="{width: '500px'}" [draggable]="false" [showHeader]="false">
  <div class="pt-5 d-flex justify-content-evenly">
    <input type="text" pInputText [autofocus]="true" class="p-inputtext-lg" [(ngModel)]="newMatchTitle" />
    <img *ngIf="pokemonIcon" [src]="pokemonIconPath + pokemonIcon + '.png'" alt="es" width="64" height="64">
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="hideNewMatchModal()" [label]="'general.cancel' | translate" styleClass="p-button-text"></p-button>
    <p-button (click)="createNewMatch()" [label]="'general.create' | translate" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
