<div class="fadeindown fadeoutup animation-duration-500">
  <div *ngFor="let match of savedMatches" (click)="loadMatch(match.file)" class="clickable mt-2">
    <p-card>
      <div class="d-flex">
        <img [src]="pokemonIconPath + match.iconName" alt="es" width="64" height="64">
        <div>
          <p>{{match.matchName}} </p>
          <p>{{ 'matchSelection.lastLogin' | translate }}: {{ getLocaleDateString(match.lastLogin) }}</p>
          <p>{{ 'matchSelection.adventureStarted' | translate }}: {{ match.startDate }}</p>
        </div>
      </div>
    </p-card>
  </div>
  <div class="d-flex justify-content-center">
    <p-button (click)="back()" [label]="'general.back' | translate" styleClass="p-button-text"></p-button>
  </div>
</div>
