.choice-button {
  z-index: 100;
}

.z-up {
 z-index: 100;
}

.left-button {
  top: -94px;
  left: -26px;
}

.right-button {
  top: -94px;
  left: 95px;
}

.bottom-button {
  top: 5px;
  left: 38px;
}

.flex-basis-28 {
  flex-basis: 28%;
}

.flex-basis-44 {
  flex-basis: 44%;
}

::ng-deep .type-button {button{
  width: 120px;
}}

.borders-x {
  border-left: 1px solid #2d3f47;
  border-right: 1px solid #2d3f47;;
}
