<div>
    <h3>{{ "howToUse.menu" | translate }}</h3>
    <p>
        <i class="pi pi-cog"></i>
        <span>{{ "howToUse.settings" | translate }}</span>
    </p>
    <p>
        <i class="pi pi-cog"></i>
        <span>{{ "howToUse.dex" | translate }}</span>
    </p>
    <p>
        <i class="pi pi-cog"></i>
        <span>{{ "howToUse.search" | translate }}</span>
    </p>
    <p>
        <i class="pi pi-cog"></i>
        <span>{{ "howToUse.typesCombinations" | translate }}</span>
    </p>
</div>
<div>
    <h3>{{ "howToUse.tracker" | translate }}</h3>
    <h4>{{ "howToUse.manual" | translate }}</h4>
    <p>{{ "howToUse.manualInfo" | translate }}</p>
    <h4>{{ "howToUse.automatic" | translate }}</h4>
    <p>{{ "howToUse.automaticInfo" | translate }}</p>
    <h4>{{ "howToUse.notes" | translate }}</h4>
    <p>{{ "howToUse.notesInfo" | translate }}</p>
</div>