<div>
  <div class="topbar d-flex justify-content-center">
    <div class="topbar-icons w-100 d-flex">
      <div class="logo">
        <img [src]="logoPath" alt="TD" width="48" height="48">
        <div class="d-flex flex-column logo-title-text">
          <p class="logo-title typelocke">YPELOCKE</p>
          <p class="logo-title">EX</p>
        </div>
      </div>
      <ul class="d-flex justify-content-center w-100 align-items-center">
        <li>
          <i class="pi pi-calculator topbar-icon clickable" (click)="backToStart()"></i>
        </li>
        <li class="mx-5">
          <p-autoComplete [(ngModel)]="selectedItem" [suggestions]="suggestions"
            (completeMethod)="search($event)"></p-autoComplete>
        </li>
        <li (click)="goToSettings()">
          <i class="pi pi-cog topbar-icon clickable"></i>
        </li>
      </ul>
      <div class="loaded-match d-flex">
        <span>{{matchName}}</span>
        <i class="pi pi-sign-out topbar-icon clickable" (click)="backToStart()"></i>
      </div>
    </div>
  </div>
</div>
