.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 64px;
  width: 100%;
  background-color: #2d3f47;
  background-image: -webkit-gradient(linear, left top, right top, from(#2d3f47), to(#2d3f47));
  background-image: -webkit-linear-gradient(to right, #2d3f47, #2d3f47);
  background-image: -moz-linear-gradient(to right, #2d3f47, #2d3f47);
  background-image: -ms-linear-gradient(to right, #2d3f47, #2d3f47);
  background-image: -o-linear-gradient(to right, #2d3f47, #2d3f47);
  background-image: linear-gradient(to right, #2d3f47, #2d3f47);
}

@media screen and (max-width: 809px) {
  .topbar {
    height: 110px;
  }
  .search-bar {
    margin-left: 2% !important;
    margin-right: 2% !important;
    ::ng-deep .p-autocomplete-input {
      width: 220px;
    }
  }
}

.topbar-icons {
  height: 64px;
  list-style: none;

  .logo {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;

    .logo-title-text {
      flex-direction: column;
      margin-top: -2px;
      margin-left: -4px;
      justify-content: center;
    }

    .logo-title {
      color: #ffffffd9;
      font-size: 16px;
      margin: 0;
    }
    .typelocke {
      margin-left: -5px;
    }
  }

  .loaded-match {
    position: absolute;
    color: #ffffffd9;
    right: 20px;
    top: 18px;
    font-size: 20px;

    span {
      margin-right: 12px;
    }
  }

  @media screen and (max-width: 809px) {
    ul {
      position: absolute;
      top: 50px;
    }
  }


  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      position: relative;
    }
  }

  .topbar-icon {
    color: #f4f4f4;
    width: 24px;
    height: 24px;
    font-size: 24px;
  }
}
